.weatherBg{
  background: url(https://www.accuweather.com/images/hero/4/1440x450.jpg);
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.heading{
  color: white;
  font-weight: 700;
}
.wetherResultBox{
  margin: auto;
width: 400px;
height: 200px;
}
.weatherIcon{
  width: 50px;
  height: 50px;
  margin-top: 2rem;
}
.weathercity{
  font-size: 25px;
}
.weatherTemp{
  font-size: 40px;
  font-weight: 500;
}
.creater{
  display: flex;
  justify-content: center;
  
}
